# Gateware build artifacts
*.out
*.blif
*.json
*.asc
*.bin

# iverilog artifacts
obj_dir/

# Test bench artifacts
*.vcd

# Hardware test artifacts
*.o
*.a

# Python
dist/
build/
__pycache__/
.pytest_cache/
*.pyc
*.egg-info/