# Pinout for the BG121 variant of the ICE40HX8K.

# Notes:
# * Using IO Bank 2 mainly.
# * Can't recall if making use of GBIN pins... need to check (TODO)

# Pins assignments:
# Name        Variable       Pin IO#     PIO#
# ----------------------------------------------
# ~WE         write_enable_b L1  IOB_56  PIO2_00
# ~GS         global_sel_b   J3  IOB_57  PIO2_01
# MOSI        mosi           L2  IOB_61  PIO2_02
# MISO        miso           K3  IOB_63  PIO2_03
# ~READY_ANY  ready_any_b    J4  IOB_64  PIO2_04
# ~READY      ready_b        L3  IOB_71  PIO2_05
# GMISO       gmiso          K9  IOB_105 PIO2_19
# GMOSI       gmosi          J9  IOB_106 PIO2_20
# SCK         sck            L10 IOB_107 PIO2_21

# TODO update verilog to reflect name changes
# TODO choose / confirm SPI mode
# TODO update verilog to reflect SPI mode
# TODO possible to set open drain?
# TODO set_io below to reflect table above
# TODO clock pins?
# TODO update CT256 as well, for use with EVN-B


# per-device
set_io hwclk J3 # J3 = HX8K-B-EVB

# global MOSI
set_io reset_in A1

# data_* share pins with SPI
# global MOSI
set_io data_clk L10
# global MOSI
set_io data_in J10
# global MISO 
set_io data_out_ts K9

# global
set_io daisy_sel L7

# device-to-device
set_io daisy_in B4
set_io daisy_out K11

# device-to-device
set_io done_in J11
set_io done_out A5

# device-to-device
set_io success_inout_ts H10

# per-device (optional)
set_io status_led B3
set_io success_led C3
