# Debug indicators

#
#         indicators
#          ^^^^^^^^
#        /----------|
# P2P in |          | P2P out
#      > |          | >
#      > |          | >
#      > |          | >
#      > |          | >
#        +----------+
#          ^v^v^v^v
#         Shared bus
#
# P2P in:
#   - done_out
#   - daisy_in
#
# P2P out:
#   - done_in
#   - daisy_out
#
# Shared bus:
#   - c_reset_b
#   - reset
#   - data_clk / SCK
#   - data_in / SI
#   - data_out_ts
#   - daisy_sel
#   - success_inout_ts

# per-device (internal)
# J3 is used by the HX8K-CT256 EVB
set_io hwclk J3

# global MOSI
set_io reset_in A16 # IOT_176

# data_* share pins with SPI
# global MOSI
set_io data_clk R11 # IOB_107_SCK
# global MOSI
set_io data_in P11 # IOB_106_SDO
# global MISO 
set_io data_out_ts T11 # IOB_89

# global
set_io daisy_sel T10 # IOB_88

# device-to-device
set_io daisy_in D1 # IOL_5B
set_io daisy_out F16 # IOR_147

# device-to-device
set_io done_in E16 # IOR_151
set_io done_out C1 # IOL_3A

# shared
set_io success_inout_ts T16 # IOB_100

# per-device (optional)
# B3 and C3 are used by the HX8K-CT256 EVB
set_io status_led B3 # IOT_233
set_io success_led C3 # IOT_227 

# C_RESET_B N11
