# Pinout for the ICE40UP5K-B-EVN board. 

# Pins assignments:
# Sch Name    Variable        Pin #
# ----------------------------------------------
# SCK         sck             15
# ~WE         we_n
# ~GS         gs_n
# GSDO        gsdo            14
# GSDI        gsdi            17
# SDI         sdi
# SDO         sdo
# READY_IN    ready_in
# READY       ready_out
# LED_IND     led             39, 40, or 41

# Hardware oscillator (12MHz)
set_io hwclk 35

# SPI (shared)
set_io sck 15
set_io gs_n # was daisy_sel
set_io we_n # was reset_in

set_io gsdi 17
set_io gsdo 14 # TODO UNUSED

set_io sdi
set_io sdo

# `ready` signal (daisy-chained)
set_io ready_in
set_io ready_out

# Indicators 
# - Open drain
# - J27 should be jumpered
# - RGB[0:2] = {39, 40, 41}
set_io led 39 # was status_led
