# Pinout for the ICE40HX8K-B-EVN board. 

# Pins assignments:
# Sch Name    Variable        Pin #
# ----------------------------------------------
# SCK         sck             J3
# ~WE         we_n
# ~GS         gs_n
# GSDO        gsdo            T11
# GSDI        gsdi            P11
# SDI         sdi
# SDO         sdo
# READY_IN    ready_in
# READY       ready_out
# LED_IND     led             B5, B4, A2, A1, C5, C4, B3, or C3

# Hardware oscillator (12MHz)
set_io hwclk J3 

# SPI (shared)
set_io sck R11
set_io gs_n # was daisy_sel
set_io we_n # was reset_in

set_io gsdi P11
set_io gsdo T11 # TODO UNUSED

set_io sdi
set_io sdo

# `ready` signal (daisy-chained)
set_io ready_in
set_io ready_out

# Indicators 
# - Not open drain. Driven directly by IO.
# - LED[0:7] = { B5, B4, A2, A1, C5, C4, B3, C3 }
set_io led B5 # was status_led
