# Pinout configuration for the `icepool` ice40up5k-sg48 daughter board.
# * https://github.com/jkiv/icepool-board

# FUTURE

# External oscillator (12 MHz)
set_io clk_in 35

# External asynchronous reset
set_io reset_n_in 4

# SPI0 (Shared SPI interface)
set_io sck0_in 15
set_io sdi0_in 17
#set_io sdo0_out 18
set_io cs0_n_in 16

# SPI1 (Daisy-chained SPI interface)
set_io sck1_in 
set_io sdi1_in
set_io sdo1_out
set_io cs1_n_in

# READY host interrupt
set_io ready_n_ts_out

# Status/Heartbeat LED
set_io status_led_n_out 39
